broker.id={{ broker_id }}
zookeeper.connect={{ zookeeper_connect }}
listeners=PLAINTEXT://{{ ansible_host }}:9092
advertised.listeners=PLAINTEXT://{{ ansible_host }}:9092
log.dirs={{ kafka_install_dir }}/logs